<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link th:href="@{/css/custom-login.css}" rel="stylesheet">
</head>
<body>
	<div class="register-wrapper">
		<div class="info-section register-info">
			<div class="info-content">
				<h1>Chào mừng bạn đến vời cửa hàng của chúng tôi!</h1>
				<p>Hãy tham gia ngay để có được đơn hàng giảm giá cực sốc</p>
			</div>
		</div>

		<div class="form-card">
			<h2 class="text-center mb-4">Register</h2>
			<form id="registerForm" method="POST">
				<div class="form-group">
					<label for="name">Họ và tên</label>
					<input type="text" id="name" name="name"  class="form-control" placeholder="Nhập họ và tên" required>
				</div>

				<div class="custom-radio" style="margin-bottom: 5px;">
					<strong>Giới tính</strong>
					<div class="radio-group col-md-12" style="display: flex; align-items: center;">
						<div class="radio-item col-md-4">
							<input type="radio" id="male" name="gender" value="true" required>
							<label for="male">Nam</label>
						</div>
						<div class="radio-item col-md-6">
							<input type="radio" id="female" name="gender" value="false" required>
							<label for="female">Nữ</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<input type="text" id="date_of_birth" name="date_of_birth" placeholder="Ngày sinh" required>
					<label for="date_of_birth">Ngày sinh</label>
				</div>

				<div class="form-group">
					<label for="phone">Số điện thoại</label>
					<input type="text" id="phone" name="phone" class="form-control" placeholder="Nhập số điện thoại" required>
				</div>

				<div class="row">
					<div class="form-group half-width">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="form-control" placeholder="Nhập email" required>
					</div>

					<div class="form-group half-width">
						<label for="password">Mật khẩu</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu" required>
					</div>
				</div>

				<div class="form-group">
					<label for="confirmPassword">Xác nhận mật khẩu</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu" required>
				</div>

			<button type="button" class="btn btn-primary btn-lg btn-block" onclick="register()">Register</button>
			<p class="text-center mt-3">Already a member? <a th:href="@{/web/form_login}">Login</a></p>
		</form>
	</div>
</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script th:src="@{/js/call_api/post_api/register.js}"></script>
</body>
</html>
