<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thông tin cá nhân</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/custom-login.css}" rel="stylesheet">
</head>
<body>
<div class="login-wrapper">
    <div class="login-card">
        <h2 class="text-center mb-4">Thông tin cá nhân </h2>
        <form id="changeInfoUserForm" method="POST" th:if="${session.role == 'CUSTOMER'}">
            <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" id="name" name="name" th:value="${customer.customer_name}" class="form-control"
                       placeholder="Nhập họ và tên" required>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="date_of_birth">Ngày sinh</label>
                    <input type="text" id="date_of_birth" name="date_of_birth"
                           th:value="${customer.customer_date_of_birth}"
                           placeholder="Ngày sinh" required>
                </div>

                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="phone" th:value="${customer.customer_phone}"
                           class="form-control"
                           placeholder="Nhập số điện thoại" required>
                </div>
            </div>
            <div style="text-align: center;">
                <h4>Thông tin nhận hàng</h4>
            </div>
            <hr>
            <div th:if="${customer.receiver_Info.size()==0}">
                <span>Chưa có thông tin nhận hàng nào, hãy thêm thông tin nhận hàng</span>
                <hr>
            </div>
            <div class="card-deck-container">
                <div th:if="${customer.receiver_Info.size()>0}" class="card-deck"
                     th:each="info,i: ${customer.receiver_Info}">
                    <div class="form-group row">
                        <div class="half-width">
                            <label th:for="'receiver_name_'+${i}">Họ và tên</label>
                            <input class="form-control" th:id="'receiver_name_'+${i}" th:name="'receiver_name_'+${i}"
                                   th:value="${info.receiver_name}" readonly>
                        </div>
                        <div class="half-width">
                            <label th:for="'receiver_phone_'+${i}">Số điện thoại</label>
                            <input class="form-control" th:id="'receiver_phone_'+${i}" th:name="'receiver_phone_'+${i}"
                                   th:value="${info.receiver_phone}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label th:for="'receiver_address_'+${i}">Địa chỉ</label>
                        <input class="ellipsis" th:name="'receiver_address_'+${i}" th:id="'receiver_address_'+${i}"
                               th:value="${info.receiver_city}+' '+${info.receiver_district}+' '+${info.receiver_ward}+' '+${info.receiver_street}">
                    </div>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="col-3">
                            <button type="button" class="btn btn-danger"
                                    th:attr="onclick=|delete_infoReceiver('${info.receiver_id}')|">Xóa
                            </button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary" style="white-space: nowrap"
                                    th:attr="onclick=|form_updateInfo_Receiver('${info.receiver_id}', '${info.receiver_name}', '${info.receiver_phone}', '${info.receiver_city}', '${info.receiver_district}', '${info.receiver_ward}', '${info.receiver_street}')|">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-block mb-4" onclick="form_addInfo_Receiver()"
                    style="color: white">Thêm thông tin nhận hàng
            </button>
            <div class="modal fade" id="addReceiverModal" aria-labelledby="addReceiverModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title" id="addReceiverModalLabel"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addReceiverForm">
                                <div class="form-group">
                                    <label for="receiver_name">Họ và tên</label>
                                    <input type="text" id="receiver_name" name="receiver_name" class="form-control"
                                           placeholder="Họ và tên người nhận" required>
                                </div>

                                <div class="form-group">
                                    <label for="receiver_phone">Số diện thoại</label>
                                    <input type="text" id="receiver_phone" name="receiver_phone" class="form-control"
                                           placeholder="Số điện thoại người nhận" required>
                                </div>

                                <div class="form-group">
                                    <label for="cities">Tỉnh/Thành phố</label>
                                    <select id="cities" class="form-select form-control-lg" required>
                                        <option name="city" value="" selected>Tỉnh/thành phố</option>
                                    </select>
                                    <input type="hidden" id="cityName" name="city" value="">
                                </div>

                                <div class="form-group">
                                    <label for="districts">Quận/Huyện</label>
                                    <select id="districts" class="form-select form-control-lg" required>
                                        <option value="" selected>Quận/huyện</option>
                                    </select>
                                    <input type="hidden" id="districtName" name="district" value="">
                                </div>

                                <div class="form-group">
                                    <label for="wards">Phường/Xã</label>
                                    <select id="wards" class="form-select" required>
                                        <option value="" selected>Phường/xã</option>
                                    </select>
                                    <input type="hidden" id="wardName" name="ward" value="">
                                </div>

                                <div class="form-group">
                                    <label for="street">Số nhà, tên đường</label>
                                    <input type="text" id="street" name="street" class="form-control"
                                           placeholder="Nhập số nhà, tên đường">
                                </div>
                                <input type="hidden" id="receiver_id" name="receiver_id" value="">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add_button" class="btn btn-primary" onclick="add_infoReceiver()">
                                Lưu
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="update_button" class="btn btn-primary"
                                    onclick="update_infoReceiver()">Lưu
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around align-items-center">
                <div class="col-3">
                    <button type="button" class="btn btn-danger" onclick="history.back()">Hủy</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" onclick="changeInfoCustomer()">Lưu</button>
                </div>
            </div>
        </form>

        <form id="changeInfoEmployeeForm" method="POST" th:if="${session.role == 'EMPLOYEE'}">
            <div class="form-group">
                <label for="emp_name">Họ và tên</label>
                <input type="text" id="emp_name" name="emp_name" th:value="${employee.employee_name}" class="form-control"
                       readonly>
            </div>

            <div class="form-group">
                <label for="emp_date_of_birth">Ngày sinh</label>
                <input type="text" id="emp_date_of_birth" name="emp_date_of_birth"
                       th:value="${employee.employee_date_of_birth}" readonly>
            </div>

            <div class="form-group">
                <label for="emp_email">Email</label>
                <input type="text" id="emp_email" name="emp_phone" th:value="${employee.employee_email}"
                       class="form-control" readonly>
            </div>

            <div class="form-group">
                <label for="emp_phone">Số điện thoại</label>
                <input type="text" id="emp_phone" name="emp_phone" th:value="${employee.employee_phone}"
                       class="form-control"
                       placeholder="Nhập số điện thoại" required>
            </div>

            <div class="form-group">
                <label for="emp_address">Địa chỉ</label>
                <input type="text" id="emp_address" name="emp_address" th:value="${employee.employee_address}"
                       class="form-control"
                       placeholder="Nhập địa chỉ" required>
            </div>

            <div class="d-flex justify-content-around align-items-center">
                <div class="col-3">
                    <button type="button" class="btn btn-danger" onclick="history.back()">Hủy</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" onclick="changeInfoEmployee()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script th:src="@{/js/call_api/post_api/customer/changeInfoUser.js}"></script>
<script th:src="@{/js/call_api/post_api/info_receiver/info_receiver_api.js}"></script>
<script th:src="@{/js/call_api/post_api/account/refreshToken.js}"></script>
<script th:src="@{/js/call_api/apiRequest_Func.js}"></script>
</body>
</html>