<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quên mật khẩu</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link th:href="@{/css/custom-login.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div id="loading-overlay">
        <div class="spinner">
            <i class="fa fa-spinner fa-spin"></i>
            <p>Đang xử lý, vui lòng chờ...</p>
        </div>
    </div>
    <div class="form-card">
        <h2 class="text-center mb-4">Quên mật khẩu</h2>
        <form id="changePasswordForm" method="POST">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control"
                       placeholder="Nhập vào email"
                       required>
            </div>
            <div class="d-flex justify-content-around align-items-center">
                <div class="half-width">
                    <button type="button" class="btn btn-danger" onclick="history.back()">Hủy</button>
                </div>
                <div class="half-width">
                    <button type="button" class="btn btn-primary" onclick="getLink_forgetPassword()">Tiếp tục</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script th:src="@{/js/call_api/get_api/cookie_Service.js}"></script>
<script th:src="@{/js/call_api/get_api/SendLink_forgetPassword.js}"></script>
</body>
</html>